label {
  display: block;
}
select {
  display: block;
}
#destination {
  font-size: 24px;

}
#answer {
  display: none;
  font-size: 30px;
  padding-top: 35px;
}
body {
  font-family: comic;
  background-color: #cce6ff;
}
.columns {
  border: 3px solid #004080;
  padding: 10px;
  margin: 2px;
  float: left;
  width: 380px;
  background-color: #66b5ff;
  padding-left: 50px;
}
.icelandImage {
  display: none;
}
.button {
  padding-left: 390px;
}
.btn {
	background-color:#2e466e;
	-webkit-border-radius:38px;
	border-radius:38px;
	border:6px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:comic;
	font-size:60px;
	padding:140px 172px;
	text-decoration:none;
	text-shadow:0px 0px 0px #263666;
}
