.columns {
  float: left;
  width: 300px;
}
label {
  display: block;
}
select {
  display: block;
}
.btn {
  display: block;
}
#answer {
  display: none;
  font-size: 30px;
}
body {
  font-family: comic;
}
